/* START:inactive */
nav#main_nav {
  position: absolute;
    top: 80px;
    left: 350px;
  li {
    background: #004b85;
    display: inline-block;
    margin: 0 2px;
    padding: 4px 16px;
    a, a:link, a:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}
/* END:inactive */

/* START:active */
nav#main_nav {
  position: absolute;
    top: 80px;
    left: 350px;
  li {
    background: #004b85;
    display: inline-block;
    margin: 0px 2px;
    padding: 4px 16px;
    a, a:link, a:visited {
      color: #fff;
      text-decoration: none;
    }
/* START_HIGHLIGHT */
    &.active {
      background: #fff;
      margin-bottom: -1px;
      a,
      a:link,
      a:visited {
        color: #555;
        font-weight: bold;
      }
    }
  }
/* END_HIGHLIGHT */
}
/* END:active */


